:root {
  --primary: #7579e7;
  --secondary: #9ab3f5;
  --background: #263238;
  --white: #f7f7f7;
  --black: #101010;
}

.search_container {
  display: flex;
  justify-content: center;
  margin-block: 15px;
}
.search_container input {
  background-color: #daeeff;
  padding: 7px 15px;
  font-size: 15px;
  width: 18vw;
}
.search_container input[id="model"] {
  border-radius: 20px 0 0 0;
  border: 2px solid var(--primary);
  border-right: none;
  outline: none;
}
.search_container input[id="location"] {
  border: 2px solid var(--primary);
  border-right: none;
  outline: none;
}
.search_container button {
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 2px solid var(--primary);
  border-radius: 0 0 20px 0;
  background-color: var(--primary);
}
.search_container button img {
  width: 25px;
  aspect-ratio: 1;
}

.card_container {
  padding-inline: 10%;
  margin-block: 30px;
}
.card_container #carList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card_container #carList div {
  padding-bottom: 10px;
  border: 2px solid var(--primary);
  border-radius: 20px 0 20px 0;
}
.card_container #carList div:hover {
  background-color: var(--secondary);
  color: var(--black);
  transition: all 250ms;
  cursor: pointer;
}
.card_container #carList div img {
  width: 100%;
  height: 170px;
  border-radius: 18px 0 0 0;
}
.card_container #carList div h3,
p {
  padding-inline: 20px;
}
.card_container #carList div p {
  font-size: 13px;
}

.card_container a {
  color: var(--primary);
  text-decoration: none;
}

/* Car Details */

.car_details_container {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.car_details_container h2 {
  color: var(--primary);
  font-size: 40px;
}
.car_details_container .car_details {
  border: 2px solid var(--primary);
  padding: 20px;
  border-radius: 20px 0 20px 0;
  min-width: 300px;
}
.car_details_container .car_details p {
  display: flex;
  justify-content: space-between;
}
hr {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  border-radius: 10px;
  opacity: 0.2;
}
